<div class="container">

  <%= simple_form_for [@scooter, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%#= f.input :end_date, as: :datetime, required: false, input_html: {class: "datepicker"} %>
    <%#= f.input :renter_id %>
    <%#= f.input :scooter_id %>

    <%= f.input :booking_price %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <% end %>

</div>

