<div class="container">
  <h1>My Bookings</h1>

  <% @bookings.each do |booking| %>
  <ul>
    <div class="card-product">
      <img src="https://source.unsplash.com/1600x900/?scooter"/>
      <div class="card-product-infos">
    <li><h2>Scooter ID: <%= booking.scooter_id %></h2></li>
    <li><h2>Renter ID: <%= booking.renter_id %></h2></li>
    <li><p>Start: <%= booking.start_date%></p></li>
    <li><p>End: <%= booking.end_date%></p></li>
    <li><p>Total price: <strong>$<%= booking.booking_price %>,-</strong></p></li>
  </ul>

  <% end %>
</div>
