<h1>My bookings</h1>

<div class="container">
  <% @bookings.each do |booking| %>
  <ul>
    <li><h2>Scooter ID: <%= booking.scooter_id %></h2></li>
    <li><h2>Renter ID: <%= booking.renter_id %></h2></li>
    <li><p>Start: <%= booking.start_date%></p></li>
    <li><p>End: <%= booking.end_date%></p></li>
    <li><p>Total price: <strong>$<%= booking.booking_price %>,-</strong></p></li>
  </ul>
  <% end %>
</div>


