<div class="container">
  <h1>My Bookings</h1>

  <% @bookings.each do |booking| %>
    <div class="card-product card-booking">
      <img src="https://source.unsplash.com/1600x900/?scooter&${<%=booking.scooter.brand%>}" class="booking-img"/>
      <div class="card-product-infos d-flex justify-content-between">
          <div>
            <h2>Total price: $<%= booking.booking_price %>,-</h2><p>Start: <%= booking.start_date%> - End: <%= booking.end_date%></p>
            <p><strong><%= booking.scooter.brand %> - <%= booking.scooter.model %></strong></p>
            <p>Rented by: <strong><%= booking.renter.first_name %></strong></p>
          </div>
        <div>
        </div>
      </div>
    </div>
  <% end %>
</div>

