<div class="container">
  <h1>My Bookings</h1>

  <% @bookings.each do |booking| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/1600x900/?scooter"/>
      <div class="card-product-infos">
        <h2>Scooter_id <%= booking.scooter_id %></h2>
        <h2>Renter_id <%= booking.renter_id %></h2>
        <p>Start Date: <%=booking.start_date.strftime("%F") %></p>
        <p>End Date: <%=booking.end_date.strftime("%F")%></p>
        <p>Total price: <strong>$<%= booking.booking_price %>,-</strong></p>
      </div>
    </div>
  <% end %>
</div>
