<div class="container">
  <% if @bookings.empty? %>
  <h3 class="my-3">It looks like you don't have any bookings yet, <%= current_user.first_name%></h3>
  <h3>Do you want to rent a scooter for your next trip?</h3>

  <div>
    <%= link_to "Find scooter", scooters_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>

  <% else %>

  <h1>My bookings</h1>

  <% @bookings.each do |booking| %>
  <div class="card-product booking">
    <div style="background-image: url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg'); background-size: cover;" class="h-100 d-flex align-items-end">
      <p class="m-0 text-center bg-light">booking id:<%= booking.id %></p>
    </div>
    <div class="card-product-info w-100">
      <div class="d-flex justify-content-between">
        <div class="ml-3">
          <h2 class="my-2"><%= booking.scooter.brand %></h2>
          <h2 class="my-2"><%= booking.scooter.model %></h2>
          <h2 class="my-2"><%= booking.booking_price %></h2>
        </div>
        <div>
          <p class="m-0">period</p>
          <h2 class="my-2"><%= booking.start_date.strftime("%e- %b") %></h2>
          <h2 class="my-2"><%= booking.end_date.strftime("%e- %b")%></h2>
        </div>
        <div class="mr-3">
          <p><%= booking.renter.first_name %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% end %>

  <!-- container closing div -->
</div>
