<h1>Bookings <%= @booking.id %></h1>
  <ul>
    <li><p>Booking date: <%= @booking.date %></p></li>
    <li><p>Renter id: <%= @booking.renter_id %></p></li>
    <li><p>Scooter id: <%= @booking.scooter_id %></p></li>
    <li><p>Booking price: <%= @booking.booking_price %></p></li>
    <li><p>Booking comment: <%= @booking.comment %></p></li>
  </ul>
