<!-- app/views/scooters/index.html.erb -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1538895490524-0ded232a96d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container d-flex justify-content-around">
    <div class="w-25">
      <h1>Lets Scoot! </h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
      <!-- <a class="btn btn-primary" href="#" >Search</a> -->
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Try 'Palermo'" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div></div>
  </div>
</div>

<div class="main-container">

  <div class="cards">
    <% @scooters.each do |scooter| %>
    <%= link_to scooter_path(scooter) do %>
    <div class="card" style="width: 18rem;">
      <img src="https://source.unsplash.com/1600x900/?scooter"
      class="card-img-top" alt="scooter-img">
      <div class="card-body">
        <h5 class="card-title"><%= scooter.brand %></h5>
        <p class="card-text"><%= scooter.model %></p>
        <p class="card-text"><%= scooter.transmission %></p>
        <p class="card-text">$<%= scooter.price_per_day %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <img id="map" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/-58.45,-34.57,13,20/600x1000?access_token=pk.eyJ1Ijoia2lzaXJvNTUiLCJhIjoiY2s2Y2hpbGhhMTRkajNqcnluc3hzZ3o5MyJ9.i9VqHJgeC4y39tNkXKNlIQ">

</div>

