<!-- app/views/scooters/index.html.erb -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1538895490524-0ded232a96d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <div class="text-center">
      <h1 class="banner-title">Scootify the town! </h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>

    <form class="form-inline justify-content-center my-5">
      <input id="searchbox" class="form-control mr-sm-2 text-left" type="search" placeholder="Try belgrano" aria-label="Search" name="destination">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>

    <% if @destination && @scooters.any? %>
        <p class="banner-title">Oki dokiee. Lets Scoot in <em><strong><%= @destination %>!</strong></em> </p>
    <% elsif @destination.present? %>
        <p class="banner-title"> Sorry, we currently have no scooters on the searched location. Scootify coming soon to your area :)</p>
      <% end %>

    </div>
  </div>
</div>

  <%# if @scooters.empty? %>
   <!--  <h4 class="my-2 text-center"> Sorry! We currently have no scooters on the searched location. <br> Coming soon Scootify will land in your area!</h4> -->
  <%# else %>
  <%# end %>
<% if @destination && @scooters.any? %>
  <%flash[:alert] = "We have found #{@scooters.count(:id)} scooters in your searched area! " %>
   <% else %>
<% end %>

<div class="d-block d-lg-flex">

  <div class="cards flex-grow-1">
    <% @scooters.each do |scooter| %>
    <div class="card-wrapper">
      <div class="card rounded">
        <%= link_to scooter_path(scooter) do %>
          <% if scooter.photo.attached? %>
             <%= cl_image_tag scooter.photo.key, style:"height: 180px; width: 320px; object-fit: cover;", class:"card-img-top :width=>70 :height=>20 :crop=>'scale'"%>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?scooter&${<%=scooter.brand%><%=scooter.model%>}"class="card-img-top" alt="scooter-img" style="height: 180px; width: 320px; object-fit: cover;">
          <% end %>
        <% end %>
        <div class="card-body d-flex align-items-top justify-content-between my-0 p-3">
          <div class="card-text">
            <h5 class="card-title m-0"><%= scooter.brand %> <%= scooter.model %></h5>
            <p class="card-text" style="color: grey;"><%= scooter.transmission %></p>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="price">
              <p class="m-0 price-box-green px-2 py-0">$<%= scooter.price_per_day %> / D</p>
            </div>
            <div class="ratings-method mt-1" style="font-size: 14px;">
              <% ratings = [] %>
              <% scooter.reviews.each do |review| %>
              <% ratings << review.rating %>
              <% end %>
              <span><i class="fas fa-star text-warning"></i> <%= average = ratings.sum / ratings.size.to_f %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
    <% if @scooters.empty? %>
    <% else %>
        <div id="mapbox" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% end %>
  </div>

</div>



