<div class="container">
   <% if @scooters.empty? %>
  <h3 class="my-3">It looks like you don't have any scooters yet, <%= current_user.first_name%></h3>
  <h3>Do you want to add a new scooter?</h3>

  <div>
    <%= link_to "Add new scooter", new_scooter_path, class:"btn btn-sm btn-outline-secondary" %>
  </div>


  <% else %>
  <h1>My owned scooters</h1>

  <% @scooters.each do |scooter| %>
    <div class="card-product">
         <% if scooter.photo.attached? %>
              <%= cl_image_tag scooter.photo.key, class:"card-img-top :width=>70 :height=>53 :crop=>'scale'"%>
         <% else %>
              <img src="https://source.unsplash.com/1600x900/?scooter&${<%=scooter.brand%><%=scooter.model%>}"class="card-img-top" alt="scooter-img">
         <% end %>
         <div class="card-product-infos d-flex justify-content-between w-100">
          <div>
            <h2><%= scooter.brand %> - <%= scooter.model %></h2>
            <p>transmission: <%= scooter.transmission %></p>
            <p>year: <%= scooter.year %></p>
            <p>$ per day: <%= scooter.price_per_day %></p>
            <p>pick-up address: <%= scooter.address %></p>
            <p>license type: <%= scooter.license_type %></p>
          </div>
          <div>
            <%= link_to "edit", edit_scooter_path(scooter), class:"btn btn-sm btn-outline-secondary" %>
          </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>


