<%#= link_to "Go Back", "/", class: "btn btn-dark ml-2 mt-2" %>
<%= link_to scooters_path do %>
<i class="fas fa-chevron-circle-left ml-3 mt-3 exit-button" style="font-size: 48px;"></i>
<% end %>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <% if @scooter.photo.attached? %>
      <%= cl_image_tag @scooter.photo.key, class:"img-fluid rounded min-vw-25 w-100 object-fit-cover object-fit-center"%>
      <% else %>
      <img src="https://source.unsplash.com/1600x900/?scooter&${<%=@scooter.brand%><%=@scooter.model%>}" class="img-fluid rounded min-vw-25 w-100 object-fit-cover object-fit-center" alt="scooter-img">
      <% end %>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="">
          <h2><%= @scooter.brand %> <%= @scooter.model %></h2>
          <h6><span style="font-style: italic;"><%= @scooter.transmission %></span></h6>
        </div>

        <div class="d-flex flex-column align-items-center">
          <p class="m-0 price-box-green"><span class="font-weight-bold">$ <%= @scooter.price_per_day %></span> / day</p>
          <% ratings = [] %>
          <% @scooter.reviews.each do |review| %>
          <% ratings << review.rating %>
          <% end %>
          <span><i class="fas fa-star text-warning mt-3"></i> <%= average = ratings.sum / ratings.size.to_f %> (<%= ratings.size %>)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="d-flex align-items-center my-3">
        <div class="flex-grow-1" style="height: 2px; background-color: lightgrey;"></div>
        <p class="px-3 m-0" style="background-color: #f4f4f4; color: grey;">
          Information about <%= @scooter.brand %> <%= @scooter.model %>
        </p>
        <div class="flex-grow-1" style="height: 2px; background-color: lightgrey;"></div>
      </div>

      <div class="text-center mb-5">
        <p class="m-0">Year: <span class="font-weight-bold"><%= @scooter.year %></span></%> </p>
        <p class="m-0">Required License: <span class="font-weight-bold"><%= @scooter.license_type %></span></p>
      </div>

      <div class="d-flex align-items-center justify-content-center m-4">
        <img src="https://avatars0.githubusercontent.com/u/30577676?s=460&v=4" class="avatar-large" />
        <div class="ml-3">
          <p class="m-0"><span style="color: grey; font-weight: bold; font-size: 12px;">Your Owner:</span></p>
          <p class="m-0"><span class="font-weight-bold"><%= @scooter.owner.first_name %> <%= @scooter.owner.last_name %></span></%> </p>
        </div>
      </div>

      <div class="flex-grow-1 mt-4" style="height: 2px; background-color: lightgrey;"></div>

      <div class="text-center">
        <a><%= link_to "Book now!", new_scooter_booking_path(@scooter), class:"btn btn-warning px-4 m-4" %></a>
      </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div id="mapbox" class="rounded" style="width: 100%; height: 300px;" data-markers="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <span class="address-box-grey" style="color: white; position: absolute; bottom: 5px; left: 20px; "><%= @scooter.address %></span>
    </div>
  </div>
  <br>

  <!-- Reviews for scooter  -->

  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h3>Reviews</h3>
      <div class="notification">
        <div class="notification-content">
          <% @scooter.reviews.each do |review| %>
          <div class="my-3 d-flex bg-white">
            <div class="mx-3 py-3 text-center">
              <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar"/>
              <p class="m-0"><small><%= review.renter.first_name %></small></p>
            </div>
            <div class="d-flex flex-column flex-grow-1 justify-content-around py-3">
              <p class="m-0">
                <% 5.times do |num| %>
                <i class="fa<%=review.rating < num ? 'r' : 's' %> fa-star text-warning"></i>
                <% end %>
              </p>
              <p class="m-0"><%= review.comment %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- closing div of container -->
</div>


